extends /layout

block content
    .row
        .col-xs-12
            .page-header
                include /includes/pagination
                h1 #{user.region.name} Locations
                    small  #{locations.length} total

    .row
        .col-xs-12.user-search
            form
                .input-group
                    input.form-control.criteria(type="text", name="search", placeholder="Search for locations by name, address, or description.", value=search)
                    span.input-group-btn
                        button.btn.btn-default Search
            hr

    .row.location-list
        if search
            h3 Search Results
        .col-xs-12
            if locations.length > 0
                table.table
                    thead
                        tr
                            th Name
                            th Address
                            th.hidden-xs Date Added
                    tbody
                        each l in locations
                            tr
                                td
                                    a(href="/locations/" + l.id)= l.name
                                td= l.address
                                td.hidden-xs= moment(l.dateAdded).fromNow()
            else
                p.text-muted.text-center
                    if search
                        | No results for search.
                    else
                        | There are currently no existing #[b locations].

    if user.rank != 'teacher' || user.admin
        .row
            .col-xs-12
                //- Only program directors, ambassadors, and admins of any rank can add new locations
                hr
                a.btn.btn-danger(href='/locations/new') New Location
                