extends /layout

block content
    .row
        .col-xs-12
            .jumbotron.clearfix
                h1 Locations
                    small.right #{locations.length} total
                p= helpers.getHelpInfo('locations')
                a.btn.btn-primary.right(href="#locations") All Locations
        hr
    if user.admin
        include addlocation

    .row
        .col-xs-12
            .page-header
                h1 Active Locations
                    +help('active-locations')
                    small.right #{activeLocations.length} total
        
        if activeLocations.length > 0
            each l in activeLocations
                .col-xs-12.col-md-6.col-lg-4
                    .panel.panel-primary
                        .panel-heading
                            span.right= l.address
                            h1.panel-title
                                a(href='/locations/' + l._id)= l.name
                        .panel-body
                            // Nasty I know
                            b Camps 
                                small.text-muted (Starting Date) &nbsp;&nbsp;
                            each camp in l.camps
                                a.btn.btn-info(href='/camps/' + camp._id) #{moment(camp.startDate).format('dddd, MMMM Do YY')}
                           
                        .panel-footer
                            a.btn.btn-primary(href="/locations/" + l._id) View Location Details
                            
        else
            p.text-muted.text-center There are no #[b active locations].

    .row#locations
        .col-xs-12
            .page-header
                h2 Inactive Locations
                    +help('inactive-locations')
                    small.right #{inactiveLocations.length} total
        .col-xs-12
            if inactiveLocations.length > 0
                table.table
                    thead
                        tr
                            th Name
                            th Address
                            th Description
                    tbody
                        each l in inactiveLocations
                            tr
                                td= l.name
                                td= l.address
                                if l.description
                                    td= helpers.limit(l.description, 50)
                                else
                                    td.text-muted No description given.
                                td
                                    a.btn.btn-default(href="/locations/" + l._id) View Details
            else
                p.text-muted.text-center There are no #[b locations].