extends /layout

block content
    .row
        .col-xs-12
            .page-header
                h1 Location 
                    b #{location.name}
                    small.right added #{moment(location.dateAdded).fromNow()}
    .row
        .col-xs-12.col-lg-7
            iframe.location-iframe(width="650", height="450", frameborder="0", src="https://www.google.com/maps/embed/v1/place?key=" + apiKey + "&q=" + location.address, allowfullscreen)
        .col-xs-12.col-lg-5
            h3 Location Description
            if location.link
                a(href=location.link, target="new")
                    +icon("link", "Location Website")
                br
            p= location.description
    

        .col-xs-12.col-lg-5
            .page-header.active-workshops
                h3 Active Workshops
                    +help('active-workshops')
                    small.right #{activeWorkshops.length} total
            if activeWorkshops.length > 0
                each c in activeWorkshops
                    +workshop-panel(c)
            else
                p.text-muted.text-center There are currently no #[b active workshops].
        .col-xs-12

    .row
        .col-xs-12
            .page-header
                h3 Past Workshops
                    +help('inactive-workshops')
                    small.right #{inactiveWorkshops.length} total
        .col-xs-12
            if inactiveWorkshops.length > 0
                table.table
                    thead
                        tr
                            th End Date
                            th Ambassador
                            th Program Director
                    tbody
                        each c in inactiveWorkshops
                            tr
                                td= moment(c.endDate).format("dddd, MMMM Do YY")
                                td
                                    if c.ambassador
                                        a(href="/users/" + c.ambassador._id)= c.ambassador.name.full
                                    else
                                        span.text-muted None
                                td
                                    if c.director
                                        a(href="/users/" + c.director._id)= c.director.name.full
                                    else
                                        span.text-muted None
            else
                p.text-muted.text-center No workshops have been completed at this location yet.

    if user.admin
        .row
            .col-xs-12
                hr
                form(action="/locations/" + location._id + "/delete", method="POST", onsubmit="return confirm('Are you sure you want to delete this location (AND ALL ASSOCIATED CAMPS)?');")
                    button.btn.btn-danger Delete Location
                    a.btn.btn-primary(href="/locations/" + location._id + "/edit") Edit Location
