extends /layout

mixin comment(c)
    .media.location-comment.list-group-item
        .media-left
            a(href="/users/" + c.author.email)
                img(src="/images/" + c.author.profileImageName)
        .media-body
            h4.media-heading= c.author.name.full
                small.text-muted.right posted #{moment(c.dateAdded).fromNow()}
            | #{c.content}

block content
    .row
        .col-xs-12
            .page-header
                h1 Location 
                    b #{location.name}
                    small.right added #{moment(location.dateAdded).fromNow()}
    .row
        .col-xs-12.col-lg-7
            iframe.location-iframe(width="650", height="450", frameborder="0", src="https://www.google.com/maps/embed/v1/place?key=" + apiKey + "&q=" + location.address, allowfullscreen)
        .col-xs-12.col-lg-5
            if location.imageUrl
                a(href=location.link, target="_blank")
                    img.location-image.thumbnail(src=location.imageUrl, alt='Invalid url for location image!')
            .text-center
                if location.link
                    a(href=location.link, target="_blank")
                        +icon("link", "Location Website")
            
            if location.description
                hr
                blockquote
                    p= location.description
    
    .row
        .col-xs-12
            hr
            ul.nav.nav-tabs.nav-justified
                li.active(role="presentation", title=helpers.getHelpInfo('active-workshops'))
                    a(data-toggle="tab", href="#active-workshops") Active Workshops 
                        span.badge #{activeWorkshops.length}

                li(role="presentation", title=helpers.getHelpInfo('inactive-workshops'))
                    a(data-toggle="tab", href="#inactive-workshops") Past Workshops 
                        span.badge #{inactiveWorkshops.length}

                li(role="presentation", title=helpers.getHelpInfo('comments'))
                    a(data-toggle="tab", href="#comments") Comments 
                        span.badge #{location.comments.length}

    .row.tab-content
        br
        #active-workshops.tab-pane.fade.in.active.col-xs-12
            if activeWorkshops.length > 0
                table.table
                    thead
                        tr
                            th Start Date
                            th End Date
                            th Ambassador
                            th Program Director
                    tbody
                        each w in activeWorkshops
                            tr
                                td= moment(w.startDate).format("dddd, MMMM Do YY")
                                td= moment(w.endDate).format("dddd, MMMM Do YY")
                                td
                                    if w.ambassador
                                        a(href="/users/" + w.ambassador.email)= w.ambassador.name.full
                                    else
                                        span.text-muted None
                                td
                                    if w.director
                                        a(href="/users/" + w.director.email)= w.director.name.full
                                    else
                                        span.text-muted None
            else
                p.text-muted.text-center There are currently no #[b active workshops].

        #inactive-workshops.tab-pane.fade.col-xs-12
            if inactiveWorkshops.length > 0
                table.table
                    thead
                        tr
                            th End Date
                            th Ambassador
                            th Program Director
                    tbody
                        each c in inactiveWorkshops
                            tr
                                td= moment(c.endDate).format("dddd, MMMM Do YY")
                                td
                                    if c.ambassador
                                        a(href="/users/" + c.ambassador.email)= c.ambassador.name.full
                                    else
                                        span.text-muted None
                                td
                                    if c.director
                                        a(href="/users/" + c.director.email)= c.director.name.full
                                    else
                                        span.text-muted None
            else
                p.text-muted.text-center No workshops have been completed at this location yet.

        #comments.tab-pane.fade
            .col-xs-12
                .panel.panel-default
                    .panel-body
                        form.form(method="POST", action="/locations/" + location.id + "/comment")
                            textarea.form-control(name="comment", placeholder="Add comment about the location.", required)
                            br
                            button.btn.btn-success.right Add Comment
            .col-xs-12
                .list-group
                    each c in location.comments
                        +comment(c)

    .row
        .col-xs-12
            hr
            a.btn.btn-default.left(href="/locations") All Locations 
            if user.admin
                form(action="/locations/" + location._id + "/delete", method="POST", onsubmit="return confirm('Are you sure you want to delete this location (AND ALL ASSOCIATED CAMPS)?');")
                    button.btn.btn-danger Delete Location
                    a.btn.btn-primary(href="/locations/" + location._id + "/edit") Edit Location