if profile
    .form-group
        label Email
        input.form-control.disabled(type="text", value=user.email, maxlength="70", disabled)
else
    .form-group
        label Email
        input.form-control#email(name="email", type="text", value=user.email, maxlength="70", required)
.form-group
    label(for="first-name") First Name
    input.form-control#first-name(name="firstName", type="text", value=user.name.first, maxlength="20", required)
.form-group
    label(for="last-name") Last Name
    input.form-control#last-name(name="lastName", type="text", value=user.name.last, maxlength="20", required)
.form-group
    label(for="location") Location
    input#location.form-control(name="location", type="text", value=user.location, maxlength="40", placeholder="Where do you live?", required)
.form-group
    label(for="phone-number") Personal Phone Number
        small.text-muted  This will be available to all Kids Tales members.
    input#phone-number.form-control(name="phoneNumber", type="text", placeholder="xxx-xxx-xxxx", maxlength="20", value=user.phoneNumber, required)
.form-group
    label(for="age") Age
    input#age.form-control(name="age", type="number", placeholder="How old are you?", value=user.age, min="10", max="100", required)
.form-group
    label(for="grade") Grade
    input#grade.form-control(name="grade", type="number", placeholder="What grade are you in?", value=user.grade, min="8", max="100", required)