extends /layout

block content
    .row
        .col-xs-12
            .page-header
                h1 
                    if !camp.active
                        span(title="This camp has ended.") 🔒 Past 
                    | Camp at #[b(title=camp.location.address)= camp.location.name]
                    small.right
                        if !camp.active
                            | Ended 
                        else
                            | Started 
                        b= moment(camp.startDate).fromNow()
        if camp.info
            .col-xs-12
                blockquote
                    b Camp Info
                    p= camp.info
                hr
    .row
        .col-xs-12
            h3.camp-dates.text-center
                if camp.active
                    | Running from 
                else
                    span.text-muted Ran from 
                | #[b= moment(camp.startDate).format("dddd, MMMM Do YY")] to #[b= moment(camp.endDate).format("dddd, MMMM Do YY")]
                
            hr
        br
        .col-xs-12.col-lg-5
            .panel.panel-danger.ambassador-panel
                .panel-heading
                    if !camp.ambassador
                        a.badge.right(href="?assign=ambassador") Assign
                    else if camp.ambassador._id == user._id
                        a.badge.right(href="?unassign=ambassador") Unassign
                    h1.panel-title Ambassador
                ol.list-group
                    if camp.ambassador
                        a.list-group-item(href="/users/" + camp.ambassador.email)= camp.ambassador.name.full
                            span.right.badge= camp.ambassador.email
                    else
                        span.list-group-item.text-muted No Ambassador has been assigned yet.
            .panel.panel-success.director-panel
                .panel-heading
                    if !camp.director
                        a.badge.right(href="?assign=director") Assign
                    else if camp.director._id == user._id
                        a.badge.right(href="?unassign=director") Unassign
                    h1.panel-title Program Director

                ol.list-group
                    if camp.director
                        a.list-group-item(href="/users/" + camp.director.email)= camp.director.name.full
                            span.right.badge= camp.director.email
                    else
                        span.list-group-item.text-muted No Director has been assigned yet.
            .panel.panel-info.teachers-panel
                .panel-heading
                    if helpers.isTeacher(camp, user)
                        a.badge.right(href="?unassign=teacher") Leave
                    else
                        a.badge.right(href="?assign=teacher") Join
                    h1.panel-title Teachers 
                        span.text-muted= camp.teachers.length + ' total '

                ol.list-group
                    if camp.teachers.length == 0
                        span.list-group-item.text-muted There are no Teachers assigned yet.
                            
                    else
                        each t in camp.teachers
                            a.list-group-item(href="/users/" + t.email)= t.name.full
                                span.right.badge= t.email
        .col-xs-12.col-lg-7
            iframe(width="600", height="450", frameborder="0", style="border:0", src="https://www.google.com/maps/embed/v1/place?key=" + apiKey + "&q=" + camp.location.address, allowfullscreen)
    
    if camp.active
        .row
            .col-xs-12.col-lg-5
                hr
                include fundraising/recentfunds
    //if ofUser
    .row
        .col-xs-12
            hr
            a.btn.btn-lg.btn-danger.right(href="/camps/" + camp._id + "/fundraising")= (camp.active ? "Manage" : "View") + " Fundraising"
            