extends /layout

block content
    .row
        .col-xs-12
            .page-header
                h1 
                    if !camp.active
                        b(title="This camp has ended.")
                            +icon('lock', 'Inactive ') 
                    span
                        if camp.ongoing
                            b Ongoing 
                        | Camp at 
                        b
                            a.location-name(href="/locations/" + camp.location._id, title=camp.location.address)= camp.location.name
                    if camp.active
                        small.right Started 
                            b= moment(camp.startDate).fromNow()
        if camp.info
            .col-xs-12
                blockquote
                    b Camp Info
                    p= camp.info
                hr
    .row
        .col-xs-12
            .well.well-sm(class=(!camp.active ? 'text-muted' : ''))
                h3.camp-dates.text-center Running from 
                    b= moment(camp.startDate).format("dddd, MMMM Do YY")
                    |  to 
                    b= moment(camp.endDate).format("dddd, MMMM Do YY")
                    
            hr
        br
        include ranks
        .col-xs-12.col-lg-7
            iframe.location-iframe(width="600", height="450", frameborder="0", style="border:0", src="https://www.google.com/maps/embed/v1/place?key=" + apiKey + "&q=" + camp.location.address, allowfullscreen)
    
    if camp.active && camp.ready
        .row
            .col-xs-12.col-lg-5
                hr
                include fundraising/recentfunds
    .row
        .col-xs-12
            hr
            a.btn.btn-info.right(class=(!camp.ready ? 'disabled' : ''), title=(camp.ready ? 'View/Manage this camp\'s finances.' : 'Fundraising is only available once all roles are filled.'), disabled=!camp.ready, href="/camps/" + camp._id + "/fundraising")= ((user.admin || helpers.isInvolved(activeInvolvements, camp)) ? "Manage" : "View") + " Fundraising"
            a.btn.btn-warning.right(class=(helpers.isHigherUp(camp, user) ? '' : 'disabled'), href="/camps/" + camp._id + "/applicants") Review Applicants 
                span.badge= camp.applicants.length
            if user.admin
                form(action="/camps/" + camp._id + "/delete", method="POST", onsubmit="return confirm('Are you sure you want to delete this camp?');")
                    button.btn.btn-danger Delete Camp
                    a.btn.btn-primary(href="/camps/" + camp._id + "/edit") Edit Camp
