extends /layout

block content
    .row
        .col-xs-12
            .jumbotron.clearfix
                h1 Camps
                    small.right #{camps.length} total
                p Camps info here...
                a.btn.btn-primary.right(href="#camps") All Camps
        hr
    if user.admin
        include schedulecamp

    .row
        .col-xs-12
            .page-header
                h1 Active Camps
                    small.right #{activeCamps.length} total
                blockquote
                    p Active camps are either starting soon or are currently in session.
    
        if activeCamps.length > 0
            each c in activeCamps
                .col-xs-12.col-md-6.col-lg-4
                    .panel.panel-primary
                        .panel-heading
                            h1.panel-title(title=c.location.address)= c.location.name
                        .panel-body
                            .time
                                b= moment(c.startDate).format("dddd, MMMM Do")
                                |  to 
                                b= moment(c.endDate).format("dddd, MMMM Do")
                            hr
                            a.btn.btn-primary.right(href="/camps/" + c._id) View Details
        else
            p.text-muted.text-center There are currently no #[b active camps].
    .row#camps
        .col-xs-12
            .page-header
                h1 Past Camps
                    small.right #{pastCamps.length} total
        .col-xs-12
            if pastCamps.length > 0
                table.table.table-striped
                    thead
                        tr
                            th End Date
                            th Camp Location
                            th Info
                    tbody
                        each c in pastCamps
                            th(title=moment(c.endDate).fromNow())= moment(c.endDate).format("dddd, MMMM Do YYYY")
                            td(title=c.location.address)= c.location.name
                            td= helpers.limit(c.info, 100)
                            td
                                a.btn.btn-default(href="/camps/" + c._id) View Details
            else
                p.text-muted.text-center There are no #[b past camps].