extends /layout

block content
    .row
        .col-xs-12
            .jumbotron.clearfix
                h1 Camps
                    small.right #{camps.length} total
                p Camps info here...
                a.btn.btn-primary.right(href="#camps") All Camps
        hr
    if user.admin
        include schedulecamp

    .row
        .col-xs-12
            .page-header
                h1 Active Camps
                    small.right #{activeCamps.length} total
                blockquote
                    p Active camps are either starting soon or are currently in session.
    
        if activeCamps.length > 0
            each c in activeCamps
                .col-xs-12.col-md-6.col-lg-4
                    .panel(class=(c.ongoing ? 'panel-success' : 'panel-primary'))
                        .panel-heading
                            h1.panel-title(title=c.location.address)
                                if c.ongoing
                                    b Ongoing at 
                                | #{c.location.name}
                        .panel-body
                            if c.ready
                                .rank-summary
                                    .ambassador
                                        b Ambassador: 
                                        span= c.ambassador.name.full
                                    .director
                                        b Program Director: 
                                        span= c.director.name.full
                                    .teachers
                                        b Teachers: 
                                        span #{c.teachers.length} total 
                            else
                                .well.well-sm.text-center
                                    code
                                        b Missing Ranks
                                        |  | Join now.
                            hr
                            if c.ongoing
                                b Ends #{moment(c.endDate).fromNow()}
                            else
                                b Starts #{moment(c.startDate).fromNow()}
                            a.btn.right(class=(c.ongoing ? 'btn-success' : 'btn-primary'), href="/camps/" + c._id) View Details
        else
            p.text-muted.text-center There are currently no #[b active camps].
    .row#camps
        .col-xs-12
            .page-header
                h1 Inactive Camps
                    small.right #{inactiveCamps.length} total
        .col-xs-12
            if inactiveCamps.length > 0
                table.table.table-striped
                    thead
                        tr
                            th End Date
                            th Camp Location
                            th Info
                    tbody
                        each c in inactiveCamps
                            th(title=moment(c.endDate).fromNow())= moment(c.endDate).format("dddd, MMMM Do YYYY")
                            td(title=c.location.address)= c.location.name
                            td= helpers.limit(c.info, 100)
                            td
                                a.btn.btn-default(href="/camps/" + c._id) View Details
            else
                p.text-muted.text-center There are no #[b inactive camps].