.panel.panel-success
    .panel-heading
        h1.panel-title Schedule Camp
    .panel-body
        form.from.schedule-camp-form(action="/camps/schedule", method="POST")
            .form-group
                label(for="schedule-camp-location") Location
                select.form-control#schedule-camp-location(name="locationId")
                    each l in openLocations
                        option(value=l._id) #{l.name} (#{l.address})
            .form-group
                label(for="schedule-camp-start") Start Date
                input.form-control#schedule-camp-start(type="date", min=moment().format("YYYY-MM-DD"), max=moment().add(1, "years").format("YYYY-MM-DD"), name="startDate", required)

                label(for="schedule-camp-end") End Date
                input.form-control#schedule-camp-end(type="date", min=moment().format("YYYY-MM-DD"), max=moment().add(1, "years").format("YYYY-MM-DD"), name="endDate", required)
                
            .form-group
                label(for="schedule-camp-info") Camp Info
                    small.text-muted  (Optional)
                textarea.form-control#schedule-camp-description(name="info", placeholder="Add any important information here.", rows="5")
            
            hr
            button.btn.btn-success.right Schedule Camp