// FUNDRAISING
if user.verified

    // Actions for current camp (if assigned to one)
        if user.currentCamp
            li.dropdown(class=helpers.activeLink("/camps/" + user.currentCamp._id, pagePath))
                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                    b Current Camp
                    span.caret
                ul.dropdown-menu
                    li
                        a(href="/camps/" + user.currentCamp._id) Overview
                    li.divider(role='separator')
                    li
                        a(href="/camps/" + user.currentCamp._id + "/fundraising") Fundraising
        else
            li.disabled(title="You are not currently assigned to a camp.")
                a Current Camp
    
    // If Ambassador, show links for all camps
        if user.currentCamps.length > 0
            li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                    b Current Camps
                    span.caret
                ul.dropdown-menu
                    each camp in user.currentCamps
                        li
                            a(href="/camps/" + camp._id) Camp
        else
            li.disabled(title="You are not currently assigned to any camps.")
                a Current Camps

    // Administrator actions (if admin)
    if user.admin
        li.dropdown(class=helpers.activeLink('/administration', pagePath))
            a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false') Administration
                span.caret
            ul.dropdown-menu
                li
                    a(href='/administration') Overview
                li.divider(role='separator')
                li(class=helpers.activeLink('/administration/unverified', pagePath), title="Verify pending new users.")
                    a(href="/administration/unverified") Unverified Users
    
    li(class=helpers.activeLink("/camp", pagePath), title="View the list of all camps active and inactive and see details.")
        a(href="/camps") Camps

    li(class=helpers.activeLink('/locations', pagePath), title="View the list of all locations used for camps past and present and see details.")
        a(href='/locations') Locations

    li(class=helpers.activeLink('/users', pagePath), title="View the list of all users and see profiles.")
        a(href='/users') Users
else
    i.navbar-text You will be able to use services once verified.