// FUNDRAISING
if user.verified

    each i in activeInvolvements
        li.dropdown(class=helpers.activeLink("/camps/" + i.camp._id, pagePath))
            a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                b Camp #{i.camp.location.name}
                span.caret
            ul.dropdown-menu
                li.dropdown-header.rank-name= i.rank
                li
                    a(href="/camps/" + i.camp._id) Overview
                li.divider(role='separator')
                li
                    a(href="/camps/" + i.camp._id + "/fundraising") Fundraising

    // Administrator actions (if admin)
    if user.admin
        li.dropdown(class=helpers.activeLink('/administration', pagePath))
            a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                span.visible-sm Admin 
                    span.caret
                span.hidden-sm  Administration 
                    span.caret
            ul.dropdown-menu
                li
                    a(href='/administration') Overview
                li.divider(role='separator')
                li(class=helpers.activeLink('/administration/unverified', pagePath), title="Verify pending new users.")
                    a(href="/administration/unverified") Unverified Users
    
    li(class=helpers.activeLink("/camp", pagePath), title="View the list of all camps active and inactive and see details.")
        a(href="/camps")
            i.fa.fa-map-marker(aria-hidden="true")
            |  Camps

    li(class=helpers.activeLink('/locations', pagePath), title="View the list of all locations used for camps past and present and see details.")
        a(href='/locations')
            i.fa.fa-globe(aria-hidden="true")
            |  Locations

    li(class=helpers.activeLink('/users', pagePath), title="View the list of all users and see profiles.")
        a(href='/users') 
            i.fa.fa-address-book(aria-hidden="true")
            |  Users
else
    i.navbar-text You will be able to use services once verified.