// Administrator actions (if admin)
if user.admin
    li.dropdown(class=helpers.activeLink('/administration', pagePath))
        a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
            span.visible-sm Admin 
                span.caret
            span.hidden-sm  Administration 
                span.caret
        ul.dropdown-menu
            li
                a(href='/administration') Overview
            li.divider(role='separator')
            li(class=helpers.activeLink('/administration/fundraising', pagePath), title='Manage overall fundraising efforts.')
                a(href='/administration/fundraising') Overall Fundraising
            li(class=helpers.activeLink('/application/applicants', pagePath), title='Manage users who apply to be under you.')
                a(href='/application/applicants') Applicants 
                    if applicantCount > 0
                        span.badge= applicantCount

li(class=helpers.activeLink('/workshop', pagePath), title='View the list of all workshops active and inactive and see details.')
    a(href='/workshops')
        +navicon('map-marker', 'Workshops')

li(class=helpers.activeLink('/locations', pagePath), title='View the list of all locations used for workshops past and present and see details.')
    a(href='/locations')
        +navicon('globe', 'Locations')

li(class=helpers.activeLink('/users', pagePath), title='View the list of all users and see profiles.')
    a(href='/users') 
        +navicon('address-book', 'Users')

if user.rank !== 'teacher'
    li.visible-lg(class=helpers.activeLink('/application/applicants', pagePath), title='Manage users who apply to be under you.')
        a(href='/application/applicants') 
            +navicon('user-plus', 'Applicants ')
            if applicantCount > 0
                span.badge= applicantCount