mixin icon(name, text)
    i.fa(class="fa-" + name, aria-hidden="true")
    if text
        |  #{text}

mixin navicon(name, text)
    i.fa(class="fa-" + name, aria-hidden="true")
    if text
        span.hidden-sm.hidden-md  #{text}

mixin help(label)
    i.fa.fa-question-circle.help-icon(onclick="alert('" + helpers.getHelpInfo(label) + "');", aria-hidden="true", data-help=label, data-toggle="tooltip", title=helpers.getHelpInfo(label))

mixin workshop-modal(w)
    .modal.workshop-modal.fade(tabindex="-1", role="dialog", id="workshop-modal-" + w.id)
        .modal-dialog(role="document")
            .modal-content
                .modal-header
                    h4.modal-title 
                        if !w.active
                            b Past 
                        | Workshop at 
                        a(href='/locations/' + w.location.id)
                            b= w.location.name
                .modal-body
                    .row
                        .col-xs-12
                            .well.well-sm(class=(!w.active ? 'text-muted' : ''))
                                h5.workshop-dates.text-center #{w.active ? 'Running' : 'Ran'} from 
                                    b(title=moment(w.startDate).fromNow(), data-toggle="tooltip")= moment(w.startDate).format("dddd, MMMM Do YY")
                                    |  to 
                                    b(title=moment(w.endDate).fromNow(), data-toggle="tooltip")= moment(w.endDate).format("dddd, MMMM Do YY")
                            .ranks
                                if w.ambassador
                                    a(href="/users/" + w.ambassador.email)
                                        img.ambassador(src="/images/" + w.ambassador.profileImageName, title="Ambassador " + w.ambassador.name.full, data-toggle="tooltip")
                                if w.director
                                    a(href="/users/" + w.director.email)
                                        img.director(src="/images/" + w.director.profileImageName, title="Program Director " + w.director.name.full, data-toggle="tooltip")
                                br
                                each t in w.teachers
                                    a(href="/users/" + t.email)
                                        img.teacher(src="/images/" + t.profileImageName, title="Teacher " + t.name.full, data-toggle="tooltip")
                    .row
                        .col-xs-12
                            hr
                            
                .modal-footer
                    button.btn.btn-danger(type="button", data-dismiss="modal") Close
                    if w.active
                        a.btn.btn-info(href="/workshops/" + w.id) Workshop Overview

mixin admin-star
    i.fa.fa-star.admin-star(data-toggle="tooltip", title="Board Member")

mixin feedback-modal
    .modal.fade#feedback-modal
        .modal-dialog
            .modal-content
                .modal-header
                    h5.modal-title Feedback
                .modal-body
                    form#feedback-form(action="/feedback", method="POST")
                        
                        .form-group.hidden
                            label(for="feedback-path") Page
                            input.form-control#feedback-path(type="text", name="feedbackPath", value=pagePath, required)
                        
                        .form-group
                            label(for="feedback-path") Comment
                            textarea.form-control(placeholder="Comment about the page or website.", name="feedbackComment", minlength=5, maxlength=1000, required)
                .modal-footer
                    input.btn.btn-danger(type="submit", form="feedback-form", value="Submit Feedback")

mixin application(a)
    .panel.panel-default.applicant-panel
        .panel-body
            form.form(action="/application/verify?userId=" + a.id, method="POST", onsubmit="return confirm('Are you sure you want to accept " + a.name.first + "'s application?');")
                h2= a.name.full
                    small.right(title=moment(a.registeredDate).format("dddd, MMMM Do YYYY, h:mm a"))= moment(a.registeredDate).fromNow()
                hr
                .applicant-info
                    .form-group
                        label Email
                        input.form-control#email(type="text", value=a.email, disabled)
                    .form-group
                        label(for="location") Location
                        input#location.form-control(type="text", value=a.location, placeholder="Where do you live? Relative to major city is fine.", disabled)
                    .form-group
                        label(for="phone-number") Personal Phone Number
                            small.text-muted  This will be available to all Kids Tales members.
                        input#phone-number.form-control(type="text", placeholder="xxx-xxx-xxxx", value=a.phoneNumber, disabled)
                    .form-group
                        label(for="age") Age
                        input#age.form-control(type="number", placeholder="How old are you?", value=a.age, disabled)
                    .form-group
                        label(for="grade") Grade
                        input#grade.form-control(ype="number", placeholder="What grade are you in?", value=a.grade, disabled)

                    hr
                    .form-group
                        label(for="why") Why Kids Tales?
                        textarea#why.form-control(disabled)= a.application.why
                    
                    hr

                    .form-group
                        label(for="recommender") Recommender
                            small.text-muted  (Optional)
                        input.form-control#recommender(type="text", placeholder="Did someone recommend you?", disabled)

                    .form-group
                        label(for="writing-sample") Sample of Writing 
                        a(href='/writingsamples/' + a.application.writingFileName, target="_blank")
                            +icon('link', 'Link')
                button.btn.btn-success Accept
                button.btn.btn-danger.right(type="button") Deny
    hr