mixin icon(name, text)
    i.fa(class="fa-" + name, aria-hidden="true")
    if text
        |  #{text}

mixin navicon(name, text)
    i.fa(class="fa-" + name, aria-hidden="true")
    if text
        span.hidden-sm.hidden-md  #{text}

mixin help(label)
    i.fa.fa-question-circle.help-icon(onclick="alert('" + helpers.getHelpInfo(label) + "');", aria-hidden="true", data-help=label, data-toggle="tooltip", title=helpers.getHelpInfo(label))

mixin workshop-modal(w)
    .modal.workshop-modal.fade(tabindex="-1", role="dialog", id="workshop-modal-" + w.id)
        .modal-dialog(role="document")
            .modal-content
                .modal-header
                    h4.modal-title 
                        if !w.active
                            b Past 
                        | Workshop at 
                        a(href='/locations/' + w.location.id)
                            b= w.location.name
                .modal-body
                    .row
                        .col-xs-12
                            .well.well-sm(class=(!w.active ? 'text-muted' : ''))
                                h5.workshop-dates.text-center #{w.active ? 'Running' : 'Ran'} from 
                                    b(title=moment(w.startDate).fromNow(), data-toggle="tooltip")= moment(w.startDate).format("dddd, MMMM Do YY")
                                    |  to 
                                    b(title=moment(w.endDate).fromNow(), data-toggle="tooltip")= moment(w.endDate).format("dddd, MMMM Do YY")
                            .ranks
                                if w.ambassador
                                    a(href="/users/" + w.ambassador.email)
                                        img.ambassador(src="/images/" + w.ambassador.profileImageName, title="Ambassador " + w.ambassador.name.full, data-toggle="tooltip")
                                if w.director
                                    a(href="/users/" + w.director.email)
                                        img.director(src="/images/" + w.director.profileImageName, title="Program Director " + w.director.name.full, data-toggle="tooltip")
                                br
                                each t in w.teachers
                                    a(href="/users/" + t.email)
                                        img.teacher(src="/images/" + t.profileImageName, title="Teacher " + t.name.full, data-toggle="tooltip")
                    .row
                        .col-xs-12
                            hr
                            
                .modal-footer
                    button.btn.btn-danger(type="button", data-dismiss="modal") Close
                    if w.active
                        a.btn.btn-info(href="/workshops/" + w.id) Workshop Overview

mixin workshop-panel(c)
    .panel.workshop-panel(class=(c.ongoing ? 'panel-success' : 'panel-primary'), data-workshop-status=(c.ongoing ? 'ongoing' : 'future'))
        .panel-heading
            if c.ongoing
                span.text-muted.right Ends #{moment(c.endDate).fromNow()}
            else
                span.text-muted.right Starts #{moment(c.startDate).fromNow()}
            h1.panel-title(title=c.location.address)
                if c.ongoing
                    b Ongoing at 
                | #{c.location.name}
        .panel-body
            .rank-summary.clearfix
                .ambassador.col-xs-12.col-sm-5.col-md-12
                    b Ambassador - 
                    a(href='/users/' + c.ambassador.email)= c.ambassador.name.full
                .director.col-xs-12.col-sm-5.col-md-12
                    b Program Director - 
                    a(href='/users/' + c.director.email)= c.director.name.full
                .teachers.col-xs-12.col-sm-2.col-md-12
                    b Teachers - 
                    span #{c.teachers.length}

            
            //- if c.info
            //-     .well.well-sm
            //-         b Workshop Info
            //-         p= helpers.limit(c.info, 50)
        
            a.btn.right(class=(c.ongoing ? 'btn-success' : 'btn-primary'), href="/workshops/" + c._id) Workshop Overview