extends /layout

block content
    .row
        .col-xs-12
            .page-header
                h1 Schedule New Workshop
        
        .col-xs-12
            form.schedule-new-workshop(method='POST', onsubmit='return confirm("Are you sure all info entered is correct? (It can be edited at any time later on.)")')
                .form-group
                    label(for='start-date') Start Date
                    input.form-control#start-date(type='date', value=moment().format("YYYY-MM-DD"), min=moment().format('YYYY-MM-DD'), max=moment().add(1, 'years').format('YYYY-MM-DD'), name='startDate', required)
                
                .form-group
                    label(for='end-date') End Date
                    input.form-control#end-date(type='date', value=moment().add(1, 'days').format("YYYY-MM-DD"), min=moment().format('YYYY-MM-DD'), max=moment().add(1, 'years').format('YYYY-MM-DD'), name='endDate', required)
                hr

                if user.rank == 'ambassador'
                    h3 Program Director
                    .form-group
                        select.form-control#director(name='director')
                            option(value=user.id, selected)= user.name.full
                            each d in directors
                                if d.id !== user.id
                                    option(value=d.id)= d.name.full
                    hr

                h3 Location Info
                if locations.length > 0
                    if !fromNewLocation
                        i New Location? #[a(href="/locations/new?from=new_workshop") Add it here first].
                    .form-group
                        label(for='location') #{user.region.name} Location
                        select.form-control#location(name='locationId', disabled=!!fromNewLocation)
                            each l in locations
                                option(value=l._id, selected=(l.id == fromNewLocation)) #{l.name} | #{l.address}
                else
                    i No locations are available yet! #[a(href="/locations/new?from=new_workshop") Add one here first!]

                .form-group
                    label(for='language') Language
                    select.form-control#language(name='language')
                        option English

                .checkbox
                    label #[input(type='checkbox', checked)] Classroom Available?

                hr
                h3 Workshop Contact
                .form-group
                    label(for='contact-name') Name
                    input.form-control#contact-name(type='text', name='contactName', maxlength='30', placeholder='John Smith', required)
                .form-group
                    label(for='contact-info') Contact Info
                    input.form-control#contact-info(type='text', name='contactInfo', maxlength='30', required)
                
                h3 Student Info
                .form-group
                    label(for='student-count') Count
                    input.form-control#student-count(type='number', name='studentCount', min=0, max=100, placeholder='How many students will be taught?', required)
                .form-group
                    label(for='age-range') Age Range
                    input.form-control#age-range(type='text', name='ageRange', maxlength='30', placeholder='What is the range of the students\' ages?', required)

                hr
                h3 Teacher Info
                .form-group
                    label(for='teacher-min') Count
                    input.form-control#teacher-min(type='number', name='teacherMin', min=0, max=40, placeholder='How many teachers will be needed at least?', required)
                .form-group
                    label(for='preparation') Required Preparation
                    textarea.form-control#preparation(name='preparation', rows='6', placeholder='Does the location need your teachers to go through any additional training or fill out any additional forms?')
                hr

                .form-group
                    label(for='extra') Extra Information
                    textarea.form-control#extra(name='extra', rows='6', placeholder='(Optional) Any extra workshop information.')
                
                a.btn.btn-danger(href='/workshops/list') Cancel
                button.btn.btn-primary Schedule Workshop