mixin media(u)
    .media
        .media-left
            a(href="/users/" + u.email)
                img(src="/images/" + u.profileImageName, alt=u.name.first + "'s profile picture.'", title=u.name.full)
        .media-body
            h4.media-heading= u.name.full
                if u.id == user.id
                    b  | You
            a(href="mailto:" + u.email)= u.email

.col-xs-12.col-lg-5.workshop-ranks
    if !workshop.ready
        .alert.alert-warning
            b MISSING RANKS
            span  Make sure all ranks below are assigned.

    .col-xs-12.col-md-4.col-lg-12
        .panel.panel-danger.ambassador-panel
            .panel-heading
                if workshop.active
                    if !workshop.ambassador
                        if !helpers.rank(activeInvolvements, workshop)
                            a.badge.right(href="?assign=ambassador", onclick="return confirm('Are you sure you want to become Ambassador?')") Assign
                    else if workshop.ambassador._id == user._id
                        a.badge.right(href="?unassign=ambassador", onclick="return confirm('Are you sure you want to be Ambassador?')") Unassign
                h1.panel-title 
                    +help('ambassador')
                    | Ambassador
            ol.list-group
                if workshop.ambassador
                    +media(workshop.ambassador)
                else
                    span.list-group-item.text-muted No Ambassador has been assigned yet.

    .col-xs-12.col-md-4.col-lg-12
        .panel.panel-success.director-panel
            .panel-heading
                if workshop.active
                    if !workshop.director
                        if !helpers.rank(activeInvolvements, workshop)
                            a.badge.right(href="?assign=director", onclick="return confirm('Are you sure you want to become Program Director?')") Assign
                    else if workshop.director._id == user._id
                        a.badge.right(href="?unassign=director", onclick="return confirm('Are you sure you want to no longer be Program Director?')") Unassign
                h1.panel-title
                    +help('director')
                    | Program Director

            ol.list-group
                if workshop.director
                    +media(workshop.director)
                else
                    span.list-group-item.text-muted No Director has been assigned yet.

    .col-xs-12.col-md-4.col-lg-12
        .panel.panel-info.teachers-panel
            .panel-heading
                
                if workshop.active
                    if helpers.isTeacher(workshop, user) 
                        a.badge.right(href="?unassign=teacher", onclick="return confirm('Are you sure you want to no longer be a Teacher?')") Leave
                    else if !helpers.rank(activeInvolvements, workshop)
                        a.badge.right(href="?assign=teacher", onclick="return confirm('Are you sure you want to become a Teacher?')") Join
                h1.panel-title
                    +help('teachers')
                    | Teachers  
                    span.text-muted= workshop.teachers.length + ' total '

            ol.list-group
                if workshop.teachers.length == 0
                    span.list-group-item.text-muted There are no Teachers assigned yet.
                else
                    each t in workshop.teachers
                        +media(t)