extends /layout

block content
    .row
        .col-xs-12
            .page-header
                h1 
                    if !workshop.active
                        b(title="This workshop has ended.", data-toggle="tooltip")
                            +icon('lock', 'Past ') 
                    span
                        if workshop.ongoing
                            b Ongoing 
                        | Workshop at 
                        b
                            a.location-name(href="/locations/" + workshop.location._id, title=workshop.location.address, data-toggle="tooltip")= workshop.location.name
                    if workshop.startDate < moment().toDate()
                        small.right Started 
                            b= moment(workshop.startDate).fromNow()
                    else
                        small.right Starting 
                            b= moment(workshop.startDate).fromNow()

    .row
        .col-xs-12
            .well.well-sm(class=(!workshop.active ? 'text-muted' : ''))
                h3.workshop-dates.text-center Running from 
                    b(title=moment(workshop.startDate).fromNow(), data-toggle="tooltip")= moment(workshop.startDate).format("dddd, MMMM Do YY")
                    |  to 
                    b(title=moment(workshop.endDate).fromNow(), data-toggle="tooltip")= moment(workshop.endDate).format("dddd, MMMM Do YY")
            hr
            if workshop.info.extra
                blockquote
                    p= workshop.info.extra
                hr

    .row
        .col-xs-12
            ul.nav.nav-tabs
                li.active(role="presentation")
                    a(data-toggle="tab", href="#team") Team
                li(role="presentation")
                    a(data-toggle="tab", href="#info") Info
                li(role="presentation")
                    a(data-toggle="tab", href="#curriculum") Curriculum
                li(role="presentation")
                    a(data-toggle="tab", href="#fundssumary") Funds Summary
                

    .row.tab-content
        #team.col-xs-12.col-md-7.tab-pane.fade.in.active
            include tabs/team
        #info.col-xs-12.col-md-7.tab-pane.fade
            include tabs/info
        #curriculum.col-xs-12.col-md-7.tab-pane.fade
            include tabs/curriculum
        #fundssumary.col-xs-12.col-md-7.tab-pane.fade
            include tabs/fundssummary

        .col-xs-12.col-md-5
            br
            if workshop.location.imageUrl
                a(href="/locations/" + workshop.location.id)
                    img.location-image.big.thumbnail(src=workshop.location.imageUrl, alt='Invalid url for location image!')
            
            .panel.location-image
                .panel-body.text-center
                    b Contact Name 
                    span= workshop.info.contact.name
                    br
                    b Contact Info 
                    span= workshop.info.contact.contactInfo

    if workshop.active
        .row
            .col-xs-12.col-lg-5
                hr
                include fundraising/recentfunds

    .row
        .col-xs-12.actions
            hr
            a.btn.btn-default.left(href="/workshops") All Workshops
            a.btn.btn-info.right(class=(helpers.workshopRanksFilled(workshop) ? '' : 'disabled'), title=(helpers.workshopRanksFilled(workshop) ? 'View/Manage this workshop\'s finances.' : 'Fundraising is only available once all roles are filled.'), disabled=!helpers.workshopRanksFilled(workshop), href="/workshops/" + workshop._id + "/fundraising", data-toggle="tooltip")= (isInvolved ? "Manage" : "View") + " Fundraising"

            if user.admin
                form(action="/workshops/" + workshop._id + "/delete", method="POST", onsubmit="return confirm('Are you sure you want to delete this workshop?');")
                    button.btn.btn-danger Delete Workshop
                    a.btn.btn-primary(href="/workshops/" + workshop._id + "/edit") Edit Workshop
            if isWorkshopHigherUp && workshop.active
                form(action="/workshops/" + workshop._id + "/archive", method="POST", onsubmit="return confirm('Are you sure?');")
                    button.btn.btn-warning Archive Workshop
