extends /layout

block content
    .row
        .col-xs-12
            .jumbotron
                h1 Kids Tales Teacher Application
                p= helpers.getHelpInfo('application')
        
        .col-xs-12
            form.application-form
                .form-group
                    label Email
                    input.form-control.disabled(type="text", value=user.email, disabled)
                .form-group
                    label(for="first-name") First Name
                    input.form-control#first-name(name="firstName", type="text", value=user.name.first, required)
                .form-group
                    label(for="last-name") Last Name
                    input.form-control#last-name(name="lastName", type="text", value=user.name.last, required)
                .form-group
                    label(for="phone-number") Personal Phone Number
                    input#phone-number.form-control(name="phoneNumber", type="text", placeholder="xxx-xxx-xxxx", value=user.phoneNumber, required)
                .form-group
                    label(for="age") Age
                    input#age.form-control(name="age", type="number", placeholder="How old are you?", min="10", max="100", required)
                .form-group
                    label(for="grade") Grade
                    input#grade.form-control(name="grade", type="number", placeholder="What grade are you in?", min="8", max="100", required)
                
                button.btn.btn-default(type="submit") Submit