extends /layout

block content
    .row
        .col-xs-12
            .jumbotron.homepage-jumbotron
                h1 Welcome, #{user.name.first}!
                hr
                blockquote
                    script(src="https://www.brainyquote.com/link/quotebr.js")
        .col-xs-12
            .important-links
                nav
                    a(href="http://kidstales.org/", target="new")
                        +icon('external-link', 'Kids Tales Site')
                    if user.verified
                        a(href="#", target="new")
                            +icon('slack', 'Slack')
                    a(href="https://github.com/KidsTales/kt-web/issues", target="new")
                        +icon('github', 'Website Issues')
    
    if user.verified
        .row
            .col-xs-12.col-md-6
                .page-header
                    h2 Latest News
                        +help('latest-news')

                blockquote
                    p= latestNews
                    footer The Administrators
                if user.admin
                    a.btn.btn-danger(href='/administration', title='Set a public message for all users to see.') Edit

            .col-xs-12.col-md-6
                .page-header
                    h2 Active Involvements
                        +help('active-involvements')
                        small.right #{activeInvolvements.length} total
                if activeInvolvements.length > 0
                    each i in activeInvolvements
                        .col-xs-12
                            .panel.panel-danger
                                .panel-heading
                                    h1.panel-title Camp 
                                        b= i.camp.location.name
                                .panel-body
                                    .rank-desc
                                        h3 You are 
                                            b.rank= helpers.getRankFromCamp(i.camp, user)
                                    hr
                                    a.btn.btn-danger.right(href="/camps/" + i.camp._id) View Details
                                    b Ending #{moment(i.camp.endDate).fromNow()}
                else
                    p.text-center.text-muted You are not currently involved in any active camps!
    else
        .col-xs-12.text-center
            h3.text-muted Once you are verified you will be able to view updates from the administrators and access your current camp involvements.