extends /layout

mixin teacher(t)
    .col-xs-12.col-sm-3.col-lg-2.text-center.teacher-director-page
        a(href='/users/' + t.email)
            img(src='/images/' + t.profileImageName, title=t.name.full + ' (' + t.email + ')', alt='Profile image of ' + t.name.full)
            br
            b= t.name.full

block content
    .director-management
        .row
            .col-xs-12
                .jumbotron
                    h1 Program Director Management
                    p= helpers.getHelpInfo('directors')
            .col-xs-12
                a.btn.btn-danger.btn-lg(href='/management/applicants') View Applicants 
                    span.badge= applicants.length
        .row.active-camp
            .col-xs-12
                .page-header
                    h1 Active Camp
            .col-xs-12
                p.text-center.text-muted You are not currently directing a camp.
                    br
                    br
                    a.btn.btn-info(href='/camps') Claim Camp
                    a.btn.btn-success(href='/camps/schedule') Schedule New Camp
        .row
            .col-xs-12
                .page-header
                    h2 Your Teachers
                        small  #{teachers.length} total
                        a.btn.btn-info.right(href='/management/request') Request Users
            .col-xs-12
                if teachers.length > 0
                    each t in teachers
                        +teacher(t)

                else
                    p.text-center.text-muted No teachers currently.