extends /layout

block content
    .row
        .col-xs-12
            .jumbotron.clearfix
                h1 Fundraising for #[b Workshop #{workshop.location.name}]
                .well.well-sm.fundraising-well.text-center
                    h3 $#{total} raised total
                br
                a.btn.btn-lg.btn-primary.right(href="/workshops/" + workshop._id) Workshop Details

    if isInvolved
        hr
        if workshop.active
            .row
                .col-xs-12.col-md-6
                    include addfunds
                .col-xs-12.col-md-6
                    include recentfunds
        else
            h3.text-muted.text-center This workshop has ended so no more fundraising data can be added.

    .row
        .col-xs-12
            .page-header
                h1 Goals
                    +help('fundraising-goals')
                    small.right #{workshop.fundraisingGoals.length} total
        .col-xs-12
            if workshop.fundraisingGoals.length > 0
                each goal in workshop.fundraisingGoals
                    p goal
            else
                p.text-center.text-muted There are currently no fundraising goals.

    .row
        .col-xs-12
            .page-header
                h2 All Funds
                    +help('funds')
                    small.right #{funds.length} total
            if funds.length > 0
                table.table
                    thead
                        tr
                            th Date Added
                            th Amount/Form
                            th Method
                            th Submitted By
                    tbody
                        each f in funds
                            tr
                                th(title=moment(f.dateAdded).fromNow()) #{moment(f.dateAdded).format("MMMM Do")}
                                td $#{f.amount} #{f.form}
                                td= f.method
                                td(title=f.submittedBy.email)
                                    a(href="/users/" + f.submittedBy.email) #{f.submittedBy.name.full}
                                if user.admin || (helpers.getRankFromWorkshop(workshop, user) != 'teacher' || (helpers.getRankFromWorkshop(workshop, user) == 'teacher' && f.submittedBy._id == user._id))
                                    td
                                        form(action="/workshops/" + workshop._id + "/removefunds?fundsId=" + f._id, method="POST", onsubmit="return confirm('Are you sure you want to remove these funds?');")
                                            button.btn.btn-danger.right Remove
                        tr
                            td
                                h4
                                    b $#{total} Total
            else
                p.text-muted.text-center There are currently no #[b funds].

    include charts