extends /layout

block content
    .row
        .col-xs-12
            .jumbotron.clearfix
                h1 Fundraising for #[b Workshop #{workshop.location.name}]
                .well.well-sm.fundraising-well.text-center
                    h3 $#{total} raised total
                br
                a.btn.btn-lg.btn-primary.right(href="/workshops/" + workshop._id) Workshop Details

    if isInvolved && workshop.active
        hr
        .row
            .col-xs-12.col-md-6
                include addfunds
            .col-xs-12.col-md-6
                include recentfunds

    .row
        hr
        .col-xs-12
            ul.nav.nav-tabs
                li.active(role="presentation")
                    a(data-toggle="tab", href="#goals") Goals 
                        span.badge= workshop.fundraisingGoals.length
                li(role="presentation")
                    a(data-toggle="tab", href="#all-funds") All Funds 
                        span.badge= funds.length
                li(role="presentation")
                    a(data-toggle="tab", href="#charts") Charts

    .row.tab-content
        br
        #goals.col-xs-12.tab-pane.fade.in.active
            if workshop.fundraisingGoals.length > 0
                each goal in workshop.fundraisingGoals
                    p goal
            else
                p.text-center.text-muted There are currently no fundraising goals.

        #all-funds.col-xs-12.tab-pane.fade
            if funds.length > 0
                table.table
                    thead
                        tr
                            th Date Added
                            th Amount/Form
                            th Method
                            th Submitted By
                            th
                    tbody
                        each f in funds
                            tr
                                th(title=moment(f.dateAdded).fromNow()) #{moment(f.dateAdded).format("MMMM Do")}
                                td $#{f.amount} #{f.form}
                                td= f.method
                                td(title=f.submittedBy.email)
                                    a(href="/users/" + f.submittedBy.email) #{f.submittedBy.name.full}
                                if workshop.active && (isWorkshopHigherUp || f.submittedBy.id == user.id)
                                    td
                                        form(action="/workshops/" + workshop._id + "/removefunds?fundsId=" + f._id, method="POST", onsubmit="return confirm('Are you sure you want to remove these funds?');")
                                            button.btn.btn-danger.right Remove
                        tr
                            td
                                h4
                                    b $#{total} Total
            else
                p.text-muted.text-center There are currently no #[b funds].
        #charts.tab-pane.fade
            include charts
