extends /layout

block content
    .row
        .col-xs-12
            .page-header
                include /includes/pagination
                h1 User List
                    +help('users')
                    small  #{users.length} total
    .row
        .col-xs-12.user-search
            form
                .input-group
                    input.form-control(type='text', name='search', placeholder='Search for users by name, email, phone number, location, etc.', value=search)
                    span.input-group-btn
                        button.btn.btn-default Search
            hr
    .row#users
        if search
            h3 Search Results
        each u in users
            .col-xs-12.col-md-6.col-lg-4
                .panel.user-panel(class=(u.admin ? 'panel-primary' : 'panel-default'))
                    .panel-heading
                        h1.panel-title
                            if u.admin
                                b Administrator
                            else
                                b=u.rankName
                            |  #{u.name.full}
                    .panel-body
                        .media
                            .media-left
                                a(href="/users/" + u.email)
                                    img.large-profile-image(alt="Image of " + u.name.first, src="/images/" + u.profileImageName)
                            .media-right
                                .email
                                    b Email
                                    br
                                    a(href="mailto:" + u.email) #{u.email}
                                .phone-number
                                    br
                                    
                                    b Phone Number
                                    br
                                    if u.phoneNumber
                                        span= u.phoneNumber
                                    else
                                        span.text-muted None given.
                            br
                            a.btn(href="/users/" + u.email, class=(u.admin ? 'btn-primary' : 'btn-default')) View
                            if user.admin
                                a.btn.btn-danger.right(href="/users/" + u.email + "/edit") Edit