extends /layout

block content
    .row
        .col-xs-12
            .page-header
                h1 
                    if targetUser.admin
                        i.fa.fa-star(title="This user is an admin.", data-toggle="tooltip")
                    | #[b= targetUser.rankName] #{targetUser.name.full}
                    small.text-muted.right(title=moment(targetUser.registeredDate).format("dddd, MMMM Do YYYY"), data-toggle="tooltip") registered #{moment(targetUser.registeredDate).fromNow()}
    .row.user-info
        .col-xs-12.col-sm-5.col-md-4.col-lg-3.summary
            img.profilepicture.-large(src="/images/" + targetUser.profileImageName, alt=targetUser.name.first + "'s profile picture.'", title=targetUser.name.full)
            
        .col-xs-12.col-sm-7.col-md-8.col-lg-9.contact
            .panel.panel-default
                .panel-body
                    p.text-muted.text-center #[b= targetUser.age] years old in grade #[b= targetUser.grade] near #[b= targetUser.location]
                        br
                        b Phone #: 
                        span.phonenumber= targetUser.phoneNumber
                        br
                        a.email(href="mailto:" + targetUser.email)= targetUser.email

        .col-xs-12.col-sm-6.col-lg-5
            blockquote.why
                p= targetUser.application.why
                footer "Why Kids Tales?"
    .row
        hr
        .col-xs-12
            ul.nav.nav-tabs
                li.active(role="presentation")
                    a(href="#active-workshops", data-toggle="tab") Active Workshops 
                        span.badge= activeWorkshops.length
                li(role="presentation")
                    a(href="#inactive-workshops", data-toggle="tab") Inactive Workshops 
                        span.badge= inactiveWorkshops.length

    
    .row.tab-content
        br
        #active-workshops.col-xs-12.tab-pane.active.fade.in
            if activeWorkshops.length > 0
                table.table
                        thead
                            tr
                                th Location
                                th Start Date
                                th End Date
                                th #{targetUser.name.first}'s Rank
                        tbody
                            each w in activeWorkshops
                                +workshop-modal(w)
                                tr
                                    td
                                        a(href="#", data-toggle="modal", data-target="#workshop-modal-" + w.id)= w.location.name
                                    td= moment(w.startDate).format("MMMM Do YYYY")
                                    td= moment(w.endDate).format("MMMM Do YYYY")
                                    td.rank= helpers.getRankFromWorkshop(w, targetUser)
            else
                p.text-center.text-muted #[b= targetUser.name.first] is currently not involved in any workshops.


        #inactive-workshops.col-xs-12.tab-pane.fade
            if inactiveWorkshops.length > 0
                table.table
                        thead
                            tr
                                th Location
                                th End Date
                                th #{targetUser.name.first}'s Rank
                        tbody
                            each w in inactiveWorkshops
                                +workshop-modal(w)
                                tr
                                    td
                                        a(href="#", data-toggle="modal", data-target="#workshop-modal-" + w.id)= w.location.name
                                    td= moment(w.endDate).format("MMMM Do YYYY")
                                    td.rank= helpers.getRankFromWorkshop(w, targetUser)
            else
                p.text-center.text-muted #[b= targetUser.name.first] has not yet been involved in any finished workshops.

    if user.admin || env == 'development'
        .row
            hr
            if user.id !== targetUser.id
                a.btn.btn-lg.btn-info(href="/loginas?id=" + targetUser.id, title="Login as them for administrative purposes. USE CAREFULLY", data-toggle="tooltip") Login as #{targetUser.name.first}
            a.btn.btn-lg.btn-danger(href="/users/" + targetUser.email + "/edit", title="Edit user's profile data.", data-toggle="tooltip") Edit #{targetUser.name.first}
