extends /layout

block content
    .row
        .col-xs-12
            .page-header
                h1 #[b= targetUser.rankName] #{targetUser.name.full}
                    small.text-muted.right registered #{moment(targetUser.registeredDate).fromNow()}
    .row.user-info
        .col-xs-12.col-md-6.col-lg-3
            img.user-profile(src="http://via.placeholder.com/250x300")
            br
            blockquote
                p= targetUser.phoneNumber
                 footer #{targetUser.name.first}'s Phone Number
        .col-xs-12.col-md-6.col-lg-9
            if targetUser.rank < 2
                if targetUser.currentCamp
                    .col-xs-12.col-md-6
                        .panel.panel-info
                            .panel-heading
                                span.panel-title Current Camp
                            .panel-body
                                span
                                    b Camp At: 
                                    | #{targetUser.currentCamp.location}
                                hr
                                a.btn.btn-default.right(href="/camps/" + targetUser.currentCamp._id) Details
            else
                each camp in targetUser.currentCamps
                    .col-xs-12.col-md-6
                        .panel.panel-default
                            .panel-heading
                                span.panel-title Camp 1
                            .panel-body
                                span
                                    b Camp At: 
                                    | #{camp.location}
                                hr
                                a.btn.btn-default.right(href="/camps/" + camp._id) Details
    .row.past-camps
        .col-xs-12
            .page-header
                h2 Past Camps
                    small.right #{targetUser.pastCamps.length} total
        .col-xs-12
            if targetUser.pastCamps.length > 0
                //each camp in targetUser.pastCamps

            else
                p.text-center.text-muted #[b= targetUser.name.first] has not finished any camps yet.
    .row
        .col-xs-12
            hr
            a.btn.btn-lg.btn-primary.right(href="mailto:" + targetUser.email) Email #{targetUser.name.first}
    
            if user.rank == 3
                a.btn.btn-lg.btn-danger(href="/users/" + targetUser.email + "/edit") Edit #{targetUser.name.first}