mixin user(u)
    .panel.panel-default
        .panel-body
            .media
                .media-left
                    a(href="/users/" + u.email)
                        img(src="/images/" + u.profileImageName, alt=u.name.first + "'s profile picture.'", title=u.name.full)
                .media-body
                    if workshop.active && isWorkshopHigherUp && helpers.getRankFromWorkshop(workshop, u) == 'teacher'
                        form(action="/workshops/" + workshop.id + "/unassign?userId=" + u.id, method="POST", onsubmit="return confirm('Are you sure you want to remove " + u.name.full + " from the team?');")
                            button.fa.fa-close.text-muted.right
                    h4.media-heading= u.name.full
                        if u.id == user.id
                            b  | You
                    a(href="mailto:" + u.email)= u.email
                    br
                    span= u.phoneNumber

.workshop-team
    // From high to low
    .list-group
        if workshop.ambassador
            // Ambassador
            h3 Ambassador
            +user(workshop.ambassador)
        
        if workshop.director
            // Director
            h3 Director
            +user(workshop.director)
        
        // Teachers
        h3 Teachers
            if user.rank == 'teacher' && !isInvolved
                form.right(action="/workshops/" + workshop.id + "/apply", method="POST")
                    button.btn.btn-success Apply as Teacher
            small  #{workshop.teachers.length} total
        each t in workshop.teachers
            +user(t)